.ethos_main_page {
/*
  background:url("images/FSD_Home.png"); 
  height: 1438;
*/
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.ethos_lead_msg {
  background:url("images/title_Ethos.jpg"); 
  height: 190px;
  top: -40px;
  z-index: 3;
  position: relative;
}

.ethos_lead_msg_shadow {
  background:url("images/bg_Content_TopGradient.gif");
  height: 130px;
  width: 1200px;
  margin-top: -40px;
  position: static;
}

.ethos_main_content {
  width: 600px;
  height: 600px;
  margin-left: 150px;
  position: relative;
  float: left;
}

.ethos_main_content_title {
  position: relative;
}

.ethos_main_content_desc {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.ethos_main_content_charhead {
  margin-top: 20px;
  position: relative;
}
