.ethos_main_page {
/*
  background:url("images/FSD_Home.png"); 
  height: 1438;
*/
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.ethos_lead_msg {
  background:url("images/title_Ethos.jpg"); 
  height: 190px;
  top: -40px;
  z-index: 3;
  position: relative;
}

.ethos_lead_msg_shadow {
  background:url("images/bg_Content_TopGradient.gif");
  height: 130px;
  width: 1200px;
  margin-top: -40px;
  position: static;
}

.ethos_main_content {
  width: 600px;
  height: 600px;
  margin-left: 150px;
  position: relative;
  float: left;
}

.ethos_main_content_title {
  position: relative;
}

.ethos_main_content_desc {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.ethos_main_content_charhead {
  margin-top: 20px;
  position: relative;
}

.ethos_main_siderail {
  float: right;
}

.ethos_main_siderail_image {
  background:url("images/people.png");
  width: 212px;
  height: 184px;
  position: relative;
}

.ethos_main_siderail_body {
  width: 280px;
  height: 150px;
  position: relative;
  z-index: 1;
}

.ethos_main_siderail_title {
  background:url("images/bg_RightRailContent_TitleBar.png");
  width: 250px;
  margin-left: -20px;
  margin-top: -120px;
  padding-left: 30px;
  position: relative;
  z-index: 2;
}

.ethos_main_siderail_text_area {
  background:url("images/bg_RightRailContent_Body.png");
  margin-left; 20px;
  width: 240px;
  height: 150px;
  position: relative;
}

.ethos_main_siderail_text {
  padding-top: 60px;
  padding-left: 10px;
  position: relative;
}
